	<div align="center">
		<%=link_to 'Inicio', diciplina_path, :class => 'btn btn-primary btn-small' %>
		<%=link_to 'Alunos Pendentes', alunospendentes_path, :class => 'btn btn-info btn-small' %>
		<%=link_to 'Alunos Inscritos', alunosinscritos_path, :class => 'btn btn-primary btn-small' %>
		<%=link_to 'Materiais', materiais_path, :class => 'btn btn-info btn-small' %>
	</div>