	
<div align="center">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	    <ul class="nav nav-tabs">
		    <li><%=link_to 'Inicio', diciplina_path%></li>
			<li><%=link_to 'Alunos Pendentes', alunospendentes_path%></li>
			<li><%=link_to 'Alunos Inscritos', alunosinscritos_path%></li>
			<li><%=link_to 'Materiais', materiais_path%></li>
		</ul>
	</div>			
</div>