<%= render 'links' %>
<% if @diciplina.professor?(current_user) %>
	<table border=1 align="center" width=50%>
		<tr>
			<th colspan=3> Alunos Inscritos </th>
		</tr>
		<% @diciplina.inscritos.each do |a| %>
			<tr align="center">
				<td align="left"> <%= a.nome %> </td>
				<td width=13%> <%= link_to 'Mostrar', action: 'show', controller: 'alunos', id: a.id %> </td>
				<td width=13%> <%= link_to 'Desagregar',  :action => 'recusar', :controller => 'diciplinas', :aluno => a.id, :diciplina => @diciplina.id %> </td>
			</tr>
		<% end %>
		<% if @diciplina.inscritos == [] %>
			<tr> 
				<td> Não há alunos inscritos nessa diciplina. </td> 
		</tr>
		<% end %>
	</table>
<%end%>